#myGallery, #myGallerySet, #flickrGallery {
    border: 5px solid #003366;
    height: 320px;
    margin-bottom: 20px;
    width: 600px;
    z-index: 5;
}
.jdGallery a {
    outline: 0 none;
}
#flickrGallery {
    height: 334px;
    width: 500px;
}
#myGallery img.thumbnail, #myGallerySet img.thumbnail {
    display: none;
}
.jdGallery {
    overflow: hidden;
    position: relative;
}
.jdGallery img {
    border: 0 none;
    margin: 0;
}
.jdGallery .slideElement {
    background-color: #000000;
    background-image: url("img/loading-bar-black.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.jdGallery .loadingElement {
    background-color: #000000;
    background-image: url("img/loading-bar-black.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.jdGallery .slideInfoZone {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    height: 75px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-indent: 0;
    width: 97%;
    z-index: 10;
}
* html .jdGallery .slideInfoZone {
    bottom: -1px;
}
.jdGallery .slideInfoZone h2 {
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 5px;
    padding: 0;
}
.jdGallery .slideInfoZone p {
    color: #EEEEEE;
    font-size: 12px;
    margin: 2px 5px;
    padding: 0;
}
.jdGallery div.carouselContainer {
    height: 135px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.jdGallery a.carouselBtn {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    padding: 0 10px;
    position: absolute;
    right: 30px;
    text-align: center;
}
.jdGallery .carousel {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    height: 115px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}
.jdExtCarousel {
    overflow: hidden;
    position: relative;
}
.jdGallery .carousel .carouselWrapper, .jdExtCarousel .carouselWrapper {
    height: 78px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 100%;
}
.jdGallery .carousel .carouselInner, .jdExtCarousel .carouselInner {
    position: relative;
}
.jdGallery .carousel .carouselInner .thumbnail, .jdExtCarousel .carouselInner .thumbnail {
    background: none repeat scroll center center #000000;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    float: left;
}
.jdGallery .wall .thumbnail, .jdExtCarousel .wall .thumbnail {
    margin-bottom: 10px;
}
.jdGallery .carousel .label, .jdExtCarousel .label {
    bottom: 5px;
    font-size: 13px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
}
.jdGallery .carousel .wallButton, .jdExtCarousel .wallButton {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #888888;
    bottom: 5px;
    cursor: pointer;
    font-size: 10px;
    margin: 0;
    padding: 1px 2px;
    position: absolute;
    right: 10px;
}
.jdGallery .carousel .label .number, .jdExtCarousel .label .number {
    color: #B5B5B5;
}
.jdGallery a {
    color: #FFFFFF;
    font-size: 100%;
    text-decoration: none;
}
.jdGallery a.right, .jdGallery a.left {
    cursor: pointer;
    height: 99%;
    opacity: 0.2;
    position: absolute;
    width: 25%;
    z-index: 10;
}
* html .jdGallery a.right, * html .jdGallery a.left {
}
.jdGallery a.right:hover, .jdGallery a.left:hover {
    opacity: 0.8;
}
.jdGallery a.left {
    background: url("img/fleche1.png") no-repeat scroll left center transparent;
    left: 0;
    top: 0;
}
* html .jdGallery a.left {
    background: url("img/fleche1.gif") no-repeat scroll left center transparent;
}
.jdGallery a.right {
    background: url("img/fleche2.png") no-repeat scroll right center transparent;
    right: 0;
    top: 0;
}
* html .jdGallery a.right {
    background: url("img/fleche2.gif") no-repeat scroll right center transparent;
}
.jdGallery a.open {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.withArrows a.open {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 99%;
    left: 25%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 10;
}
.withArrows a.open:hover {
    background: url("img/open.png") no-repeat scroll center center transparent;
}
* html .withArrows a.open:hover {
    background: url("img/open.gif") no-repeat scroll center center transparent;
}
.jdGallery a.gallerySelectorBtn {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    left: 30px;
    opacity: 0.4;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 15;
}
.jdGallery .gallerySelector {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
.jdGallery .gallerySelector h2 {
    color: #FFFFFF !important;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 10px 20px;
}
.jdGallery .gallerySelector .gallerySelectorWrapper {
    overflow: hidden;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton {
    border: 1px solid #888888;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}
.jdGallery .gallerySelector .gallerySelectorInner div.hover {
    background: none repeat scroll 0 0 #333333;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton div.preview {
    background: none repeat scroll center center #000000;
    border: medium none;
    float: left;
    height: 40px;
    margin-right: 5px;
    width: 40px;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton h3 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton p.info {
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
